<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Input</title>
</head>
<body>
<h2>Form Input Mahasiswa</h2>
<form th:action="@{/form}" method="post">
    <label>Nama:</label>
    <input type="text" name="nama" required><br>

    <label>NIM:</label>
    <input type="text" name="nim" required><br>

    <label>Jenis Kelamin:</label>
    <input type="radio" name="jenisKelamin" value="Laki-laki"> Laki-laki
    <input type="radio" name="jenisKelamin" value="Perempuan"> Perempuan<br>

    <button type="submit">Submit</button>
</form>

<a th:href="@{/home}">Kembali ke Home</a>
</body>
</html>