<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>MY Website 20240140XXX</h1>
    <p>Selamat datang di aplikasi!</p>
    <a th:href="@{/form}">+ Input Data Mahasiswa</a>

    <h2>Data Mahasiswa</h2>
    <table class="data-table">
        <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Jenis Kelamin</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(mahasiswaList)}">
            <td colspan="5">Belum ada data</td>
        </tr>
        <tr th:each="mhs, iter : ${mahasiswaList}">
            <td th:text="${iter.count}"></td>
            <td th:text="${mhs.nama}"></td>
            <td th:text="${mhs.nim}"></td>
            <td th:text="${mhs.jenisKelamin}"></td>
            <td th:text="${mhs.email}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>
